<header class="header">
  <div class="header__logo">
    <a href="/">
      <img src="/assets/logo.png" alt="Logo" class="logo" />
    </a>
  </div>

  <nav class="header__nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="/" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a href="/manage-astronauts" class="nav__link">Manage Personnel</a>
      </li>
    </ul>
  </nav>

  <div class="header__user">
    <span class="user__greeting">Hello, Cadet!</span>
  </div>
</header>
